#n1{
    height: 200px;
    background-color: blue
}
#n2{
    height: 200px;
    background-color: red
}
#n3{
    height: 200px;
    background-color: green
}
#n4{
    height: 200px;
    background-color: yellow
}